* {
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    text-transform: uppercase;
    display: inline-block;
    background-color: var(--primary-green);
    color: #fff;
    border-radius: 10px;
    font-weight: 900;
    text-shadow: none;
    box-shadow: var(--primary-shaddow);
}

.btn-large {
    padding: 20px 40px;
}
