.panel-form-header {
    text-transform: uppercase;
}

.panel-form .section-title {
    color: var(--primary-orange);
}

.form button {
    display: block;
    margin: 20px auto 0;
    font-weight: 600;
    letter-spacing: .03em;
    border: none;
}

.form button:hover {
    cursor: pointer;
}
