.form-section-header {
    text-transform: uppercase;
}

.form-section .section-title {
    color: var(--primary-orange);
}

.form .name-container, .form .email-container {
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
}

.form label {
    text-align: left;
    font-weight: 900;
    font-size: 18px;
}

.form input {
    display: block;
    width: 100%;
    margin: 10px 0 15px;
    box-shadow: var(--green-box-shadow);
    border: 1px solid #666;
    border-radius: 3px;
    padding: 7px 10px;
}

.form button {
    display: block;
    margin: 20px auto 0;
    font-weight: 600;
    letter-spacing: .03em;
    border: none;
}

.form button:hover {
    cursor: pointer;
}
