.header {
    background: url("../img/destaque.jpeg") no-repeat;
    background-size: cover;
}

.header .container {
    padding: 3rem 0 2.5rem;
}

.header .main-menu {
    text-align: center;
}

.header .main-menu .menu-item {
    display: inline-block;
    margin: 0 2px;
}

.header .main-menu .menu-item a {
    color: #fff;
    padding: 15px;
    background: rgba(0,0,0,0.1);
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    transition: var(--bg-transition);
}

.header .main-menu .menu-item a:hover {
    background-color: var(--primary-green);
}

.header .jumbotron {
    text-align: center;
    text-transform: uppercase;
}

.header .jumbotron .jumbotron-main {
    text-shadow: var(--primary-shaddow);
}

.header .jumbotron .title {
    color: #fff;
    font-size: 2.625rem;
    margin-top: .761em;
}

.header .jumbotron .subtitle {
    color: #76FF40;
    font-size: 1.875rem;
    margin-top: .166em;
}

.header .jumbotron .panel-subscribe {
    padding-top: 1.25em;
}

@media (min-width: 768px) {

    .header .jumbotron .title {
        font-size: 3.625rem;
    }

    .header .jumbotron .subtitle {
        font-size: 2.875rem;
    }

}
