.header {
    background: url("../img/destaque.jpeg") no-repeat;
    background-size: cover;
    padding-top: 32px;
}

.header .main-menu {
    text-align: center;
}

.header .main-menu .menu-item {
    display: inline-block;
    margin: 0 2px;
}

.header .main-menu .menu-item a {
    color: #fff;
    padding: 15px;
    background: rgba(0,0,0,0.1);
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    transition: var(--bg-transition);
}

.header .main-menu .menu-item a:hover {
    background-color: var(--primary-green);
}

.cta-panel {
    text-align: center;
    text-transform: uppercase;
    text-shadow: var(--primary-shaddow);
}

.cta-panel h1 {
    color: #fff;
    font-size: 2.625rem;
    margin-top: .761em;
}

.cta-panel h2 {
    color: #76FF40;
    font-size: 1.875rem;
    margin-top: .166em;
}

.cta-panel .btn-wrapper {
    padding: 1.25em 0 1.875em;
}

@media (min-width: 768px) {



    .cta-panel h1 {
        font-size: 3.625rem;
    }

    .cta-panel h2 {
        font-size: 2.875rem;
    }

}
